<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    admin pannel
    <form action="admin/addpost" method="POST">
      <label for="title">Enter title: </label>
      <input id="title" type="text" name="title" placeholder="title..." />

      <label for="text">Enter text: </label>
      <input id="text" type="text" name="text" />

      <input type="submit" value="OK" />
    </form>
  </body>
</html>
