<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/register/" method="post">
      <label for="username">Enter username: </label>
      <input id="username" type="text" name="username" placeholder="example..." />

      <label for="email">Enter email: </label>
      <input id="email" type="text" name="email" placeholder="example@example.com..."/>

      <label for="password">Enter password: </label>
      <input id="password" type="text" name="password" />
      
      <input type="submit" value="OK" />
    </form>
  </body>
</html>
